exclude: 'iodata/test/data/.*'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    - id: check-added-large-files
    - id: check-ast
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-json
    - id: check-yaml
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-toml
    - id: check-vcs-permalinks
    - id: debug-statements
    - id: detect-private-key
    - id: destroyed-symlinks
    - id: end-of-file-fixer
    - id: fix-byte-order-marker
    - id: mixed-line-ending
    - id: pretty-format-json
      args: ["--autofix", "--no-sort-keys"]
    - id: trailing-whitespace
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
    - id: remove-crlf
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.28.4
  hooks:
    - id: check-github-workflows
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.5
  hooks:
    - id: ruff-format
    - id: ruff
      args: ["--fix", "--show-fixes"]
