name: pytest
on:
  push:
    branches:
    # Run tests for change on the main branch ...
    - main
    tags-ignore:
    # ... but not for tags (avoids duplicate work) ...
    - '**'
    paths:
    # ... and only if files relevant to the code have changed.
    - '.github/requirements-old.txt'
    - '.github/workflows/pytest.yaml'
    - 'iodata/**'
    - 'pyproject.toml'
  pull_request:
  # Run tests on pull requests ...
    paths:
    # ... only if files relevant to the code have changed.
    - '.github/requirements-old.txt'
    - '.github/workflows/pytest.yaml'
    - 'iodata/**'
    - 'pyproject.toml'

jobs:
  tests:
    strategy:
      matrix:
        include:
          # Test all Python versions on Ubuntu
          - os: ubuntu-latest
            python-version: '3.10'
          - os: ubuntu-latest
            python-version: '3.11'
          - os: ubuntu-latest
            python-version: '3.12'
          - os: ubuntu-latest
            python-version: '3.13'
          - os: ubuntu-latest
            python-version: '3.14'
          # Test only Python 3.14 on MacOS
          - os: macos-latest
            python-version: '3.14'
          # Test only Python 3.14 on Windows
          - os: windows-latest
            python-version: '3.14'
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install oldest versions of supported dependencies
        if: ${{ matrix.python-version == '3.10' }}
        run: pip install -r .github/requirements-old.txt
      - name: Install development version
        run: pip install -e .[dev,trexio]
      # If some tests are slow against expectations, pytest will abort due to timeout.
      - name: Run pytest WITH coverage for fast tests
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: >
          pytest
          -vv
          -m "not slow"
          --timeout=60
          --cov=iodata
          --cov-report=xml
          --cov-report=term-missing
      - name: Upload coverage reports to Codecov
        if: ${{ matrix.os == 'ubuntu-latest' && env.CODECOV_TOKEN != '' }}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          curl -Os https://cli.codecov.io/latest/linux/codecov
          chmod +x codecov
          ./codecov --verbose upload-process --fail-on-error \
            -t ${{ secrets.CODECOV_TOKEN }} \
            -n 'fast'-${{ github.run_id }} \
            -F fast -f coverage.xml
      - name: Run pytest WITHOUT coverage for fast tests
        if: ${{ matrix.os != 'ubuntu-latest' }}
        run: pytest -vv -m "not slow" --timeout=60
      - name: Run pytest WITHOUT coverage for slow tests
        run: pytest -vv -m slow
